PINTEREST_APP_ID=1562330
PINTEREST_APP_SECRET=
PINTEREST_REDIRECT_URI=http://localhost:3301/pinterest/callback
PINTEREST_ACCESS_TOKEN=
PINTEREST_ENABLE_PUBLISH=false
PINTEREST_LAUNCH_BOARD_ID=1132303600003950351
PINTEREST_SCHEDULE_TIMEZONE=America/Toronto
PINTEREST_DAILY_SLOTS=09:00,14:00,20:00
PINTEREST_FALLBACK_IMAGE_URL=http://localhost:3301/icon-512.png
PINTEREST_TEST_BOARD_ID=1132303600003950351
PINTEREST_TEST_IMAGE_URL=http://localhost:3301/icon-512.png

AMAZON_ASSOCIATE_TAG=
AMAZON_MARKETPLACE=CA
AMAZON_DEFAULT_CURRENCY=CAD

AMAZON_PRODUCT_URL_DRAWER_1=https://www.amazon.ca/dp/B08KXKVT4K
AMAZON_PRODUCT_URL_DRAWER_2=https://www.amazon.ca/dp/B07JGWT25L
AMAZON_PRODUCT_URL_UNDER_SINK_1=https://www.amazon.ca/dp/B0BZCMRNB9
AMAZON_PRODUCT_URL_UNDER_SINK_2=https://www.amazon.ca/dp/B0C1X4PGK4
AMAZON_PRODUCT_URL_PANTRY_1=https://amzn.to/41BjXCA
AMAZON_PRODUCT_URL_PANTRY_2=https://www.amazon.ca/dp/B08ZK5WDWN
AMAZON_PRODUCT_URL_CLOSET_1=https://www.amazon.ca/dp/B07SJ2CTV5
AMAZON_PRODUCT_URL_CLOSET_2=https://www.amazon.ca/dp/B0819K32QK
AMAZON_PRODUCT_URL_SHOES_1=https://www.amazon.ca/dp/B0CNGTZ3B5
AMAZON_PRODUCT_URL_SHOES_2=https://www.amazon.ca/dp/B01N125MU5
